* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  border: none;
  outline: none;
}

span {
  color: #cccfd3;
  font-size: 14px;
}
h4 {
  color: #40ad5d;
  font-size: 14px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 14px;
  color: #75797f;
}
input::-webkit-input-placeholder {
  color: #cacaca;
}

.bg {
  background: linear-gradient(
    45deg,
    rgba(66, 133, 244, 1) 50%,
    rgba(49, 167, 80, 1) 100%
  );
  padding: 5% 0 5% 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.poisk {
  width: 90%;
  height: 130px;
  margin: auto;
  margin-bottom: 2px;
  background-color: white;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.25),
    10px 10px 60px rgba(0, 0, 0, 0.22);
}



.main {
  width: 90%;
  margin: 0 auto;

  background-color: white;
}

.indent{
  width: 90%;
  margin: auto;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 110px;
}
.elements-search-1 {
  flex-basis: 15%;
}


.elements-search-2 {
  flex-basis: 75%;
}
.elements-search-3 {
  text-align: right;
  flex-basis: 10%;
}
.elements-search-3 img {
  width: 22px;
  height: 37px;
}
.results {
  display: flex;
}

.article{
  display: flex;
}

.article a img {
  margin: 10px 10px 10px 0;
}



.top-results {
  margin-left: 100px;
}

.top-results .title{
  display: flex;
  justify-content: space-between;
}

.top-results .title img{
  width: 14px;
  height: 14px;
}



.podcontent {
  display: flex;
}

.podcontent-r:hover a {
  text-decoration: none;
  font-size: 16px;
  color: #4285f4;
}
.podcontent-r a {
  text-decoration: none;
  font-size: 16px;
  color: #4285f4;
}
.podcontent-l {
  font-size: 16px;
  text-decoration: none;
  color: #b5b9bf;
}
.podcontent-l:hover a {
  text-decoration: none;
  color: #b5b9bf;
}
.podcontent-l a {
  text-decoration: none;
  color: #b5b9bf;
}
